table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: #0050AF;
    height: 30px;
    color: black;
    text-align: left;
    
}
td{
    text-align: left;
    background: gray
}